@import "../../node_modules/uikit/src/less/uikit.theme.less";

@import "./vars.less";
@import "./nuxt.less";

//  Base
// ===========================================================
b,
strong,
.uk-text-bold {
  font-weight: 600;
}


//  Navbar
// ===========================================================
@navbar-nav-item-height:                      80px;
@navbar-background:                           transparent;
@navbar-color-mode:                           none;

@navbar-nav-item-font-family:                 @tm-font-base;
@navbar-nav-item-font-size:                   0.9rem;
@navbar-nav-item-text-transform:              uppercase;

.uk-navbar-container {
  min-height: @navbar-nav-item-height;
}

//  Header
// ===========================================================

#header {
  border-bottom: 1px solid @global-border;
}

//  Footer
// ===========================================================

#footer {
  border-top: 1px solid @global-border;
}

//  Breadcrumbs
// ===========================================================
#global-breadcrumb {
  background: @global-muted-background;
  padding: 10px 0;
  .uk-breadcrumb {
    display:flex;
    justify-content: center;;
  }
}